body {
  padding: 0;
  margin: 0;
  background-color: #d0fef5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main div {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location-card h2,
#weather-card h2 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 100px;
}

#location-card input {
  font-size: 30px;
  text-align: center;
  background-color: #89aae6;
  padding: 15px;
  width: 40%;
  margin-bottom: 50px;
  border-radius: 20px;
  color: white;
}

#location-card a {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #202a25;
  color: white;
}

#location-card a:hover {
  background-color: #339955;
  cursor: pointer;
}

#weather-card h3 {
  font-size: 50px;
  margin: 0;
  text-align: center;
}

#weather-card img {
  margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
}

footer button {
  margin: 0 1.5rem;
  background-color: #89aae6;
  font-size: 26px;
  width: 3rem;
  height: 3rem;
}
